h1{
    color: goldenrod;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url("./images/hintergrund.jpg") no-repeat;
    color: white;
    background-size: cover;
    text-align: center;
    font-weight: bold;
    font-size: 2em;   
}


#massage-el{
    font-style: italic;
    color: goldenrod;
}

button{
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding: 5px;
    border: none;
    font-weight: bolder;
    border-radius: 3px;   
}

button:hover{
    background-color:white;
    padding: 7px;
}
